<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote_history.user %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @vote_history.restaurant %>
</p>

<p>
  <strong>Votetype:</strong>
  <%= @vote_history.votetype %>
</p>

<%= link_to 'Edit', edit_vote_history_path(@vote_history) %> |
<%= link_to 'Back', vote_histories_path %>
