

<p>
  <strong>User:</strong>
  <%= @vote_history.user %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @vote_history.restaurant %>
</p>

<p>
  <strong>Votetype:</strong>
  <%= @vote_history.votetype %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @vote_history.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @vote_history.updated_at %>
</p>

<%= link_to 'Back', vote_histories_path %>
