<h3>User Summary</h3>

<h3>Restaurants with Comments</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.restaurant.name %></td>
        <td><%= comment.restaurant.address %></td>
        <td><%= comment.restaurant.city %></td>
        <td><%= comment.restaurant.state %></td>
        <td><%= comment.restaurant.zip %></td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Restaurants with Votes</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Split</th>
      <th>NoSplit</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.restaurant_id%></td>

      </tr>
    <% end %>
  </tbody>
  </table>


<%= link_to 'Back', restaurants_path, class: "back" %>
