<h3>User Summary</h3>

<h3>My Restaurants with Comments</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></td>
        <td><%= comment.restaurant.address %></td>
        <td><%= comment.restaurant.city %></td>
        <td><%= comment.restaurant.state %></td>
        <td><%= comment.restaurant.zip %></td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>My Favorite Restaurants</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>

    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= link_to favorite.restaurant.name, restaurant_path(favorite.restaurant) %></td>
        <td><%= favorite.restaurant.address %></td>
        <td><%= favorite.restaurant.city %></td>
        <td><%= favorite.restaurant.state %></td>
        <td><%= favorite.restaurant.zip %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Restaurants with My Votes</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Split</th>
      <th>NoSplit</th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.restaurant.name,restaurant_path(vote.restaurant) %></td>
        <td><%= vote.restaurant.address %></td>
        <td><%= vote.restaurant.city %></td>
        <td><%= vote.restaurant.state %></td>
        <td><%= vote.restaurant.zip %></td>
        <td><%= vote.restaurant.votes.where(votetype: 1).count %></td>
        <td><%= vote.restaurant.votes.where(votetype: -1).count %></td>
      </tr>
    <% end %>
  </tbody>
  </table>



<%= link_to 'Back', restaurants_path, class: "back" %>
