

<h3>New Comment</h3>

<%= form_with(url: restaurants_add_comment_path, model: @comment, local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment, "Your comment:" %><br>
    <%= form.text_area :comment, rows: 21, cols:60 %>
  </div>
  <div class="actions">
    <%= form.submit "Comment", class:"button" %>

 </div>
<% end %>
  <%= button_to 'Cancel', restaurants_path, :class => "button", :method => :get %>
