<p id="notice"><%= notice %></p>
<h3> Restaurant Details </h3>
<p>
  <strong> Name:
  <%= @restaurant.name %>
  </strong>
</p>

<p>
  <strong>Address:
  <%= @restaurant.address %>
  </strong>
</p>

<p>
  <strong>City:
  <%= @restaurant.city %>
  </strong>
</p>

<p>
  <strong>State:
  <%= @restaurant.state %>
  </strong>
</p>

<p>
  <strong>Zip:
  <%= @restaurant.zip %>
  </strong>
</p>

<p>
<strong> Split Vote - Yes:
    <td><%= @restaurant.split.present? ? @restaurant.split : 0 %></td><br>
         Split Vote - No:
    <td><%= @restaurant.nosplit.present? ? @restaurant.nosplit : 0 %></td>
</strong>
</p>

<% if user_signed_in? %>
<h3> Would you like to vote? </h3>
<p>
<strong> Is <%= @restaurant.name %> Willing To Split? </strong>
<%= button_to "Split", action: "split" %>
<%= button_to "No Split", action: "nosplit" %>
</p>
<% end %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
