<!DOCTYPE html>
<html>
  <head>
    <title>SplitTheCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1> RESTAURANT SPLIT</h1>
      <h2> Vote for great restaurants that split the check or tag anti-customer restaurants that don't</h2>
    </header>
    <%= yield %>
  </body>

</html>
